@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    height:100%;
    overflow-y: scroll;
}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    color:#636767;
    line-height:1.75;
    background:#FFF;
    font-size:1.6rem;
    letter-spacing:0.1rem;
    font-family:"Overpass", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ明朝 ProN W3", Meiryo, sans-serif
}
header{
    flex: 0 0 auto;
}
h1 {
    color:lightblue;
    font-size: 35px;
    font-weight:bold;
    text-align:center;
    text-shadow: 3px 3px 3px rebeccapurple;
}
#container{
    flex: 1 0 auto;
    width:1100px;
    overflow: hidden;
    margin:0 auto;
}

/* div{
    border:1px solid #F00;
} */

#profile{
    font-size: 20px;
    float: left;
    text-align: center;
    margin-right:20px;
    color: #738c8c;
}
#profile li:nth-of-type(odd){
    background-color:#eff9fc;
}
.change{
    text-align: center;
    font-size: 16px;
}
.change ul{
    float: left;
    margin-right:20px;
}
.change li{
    list-style: none;
}
.change a{
    text-decoration:none;
    font-weight:bold;
    color:gray;
}
#noimg{
    float: left;
    max-width: 620px;
}
/*限制图片大小*/
#noimg img{
    width:auto !important;
    max-height:500px;
    max-width:100%;
    margin-top:1rem;
    margin-bottom:1rem
}
footer{
    flex: 0 0 auto;
    width: 100%;
    padding:30px 0 30px 0;
    font-size:15px;
    background-color: #5bbee5;
}
footer .main{
    width: 1100px;
    padding: 0 40px;
    margin:auto;
}
footer a{
    text-decoration:none;
    color: white;
}