@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-style:normal;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

body{color:#636767;line-height:1.75;background:#FFF;font-size:1.6rem;letter-spacing:0.1rem;font-family:"Overpass", "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "ヒラギノ明朝 ProN W3", Meiryo, sans-serif}a{color:#8babab}a:hover{color:#577979}

#container{
	width:1024px;
	height:auto;
    margin:0 auto;
}

h1 {
    color:lightblue;
    font-size: 35px;
    font-weight:bold;
    text-align:center;
    text-shadow: 3px 3px 3px rebeccapurple;
}
#profile{
    font-size: 20px;
    float: left;
    text-align: center;
    margin-right:20px;
    margin-left:20px;
    color: #738c8c;
    background-color:#eff9fc;
}
.change{
    text-align: center;
}
.change ul{
    float: left;
    margin-right:20px;
}
.change li{
    list-style: none;
}
.change a{
    text-decoration:none;
    font-weight:bold;
    color:gray;
}
#noimg{
    float: left;
}